{% extends 'base.html' %}

{% block head %}
<title>Credit Risk Pinjaman Bank</title>
{% endblock %}

{% block body %}
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-1-110 p-r-110 p-t-62 p-b-33">
        <form class="login100-form validate-form flex-sb flex-w" action="/" method="GET">
            {% if finalData == 1 %}
            <span class="login100-form-title p-1-100 mt-3">
                CREDIT RISK : 1
            </span>

            {% elif finalData == 2 %}
            <span class="login100-form-title mt-3 p-l-100">
                CREDIT RISK : 2
            </span>

            {% elif finalData == 3 %}
            <span class="login100-form-title mt-3 p-l-100">
                CREDIT RISK : 3
            </span>

            {% elif finalData == 4 %}
            <span class="login100-form-title mt-3 p-l-1">
                CREDIT RISK : 4
            </span>

            {% elif finalData == 5 %}
            <span class="login100-form-title mt-3 p-l-100">
                CREDIT RISK : 5
            </span>

            {% endif %}

            <div class="container-login100-form-btn mt-3 p-l-100">
                <button class="login100-form-btn">
                    Kembali
                </button>
            </div>
        </form>
        </div>
    </div>
</div>

{% endblock %}